:root {
  --color1: #2b6cb0;
  --color2: #3182ce;
  --color3: #4a5568;
  --color-bg: #f4f6fa;
  --color-white: #fff;
  --color-shadow: rgba(44, 62, 80, 0.1);
  --color-link: #ffffff;
  --color-link-hover: #3182ce;
  --radius: 18px;
  --font-main: "Segoe UI", Arial, sans-serif;
  font-family: var(--font-main);
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
