.enlaceContainer {
  text-align: center;
  margin-top: 1.5rem;
}

.enlace {
  display: inline-block;
  background: var(--color2);
  color: var(--color-link);
  padding: 0.7rem 2rem;
  border-radius: var(--radius);
  text-decoration: none;
  font-size: 1.1rem;
  font-family: var(--font-main);
  box-shadow: 0 2px 8px var(--color-shadow);
  transition: background 0.2s, transform 0.2s;
}

.enlace:hover {
  background: var(--color-link);
  border: 1px solid var(--color-link-hover);
  transform: scale(1.05);
  color: var(--color-link-hover);
}
